parameters:
    level: 4
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        - '#Access to an undefined property Zend_Layout::\$content\.#'
